In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("C:/Users/Repairmanmanmanman/test/vehicles/vehicles/vehicles.csv")

In [7]:
pd.set_option('display.max_columns', None)

In [17]:
type(data)

pandas.core.frame.DataFrame

In [18]:
data.to_csv("C:/Users/Repairmanmanmanman/test/vehicles/vehicles/vehicles2.txt", sep='\t', index=False)

In [22]:
damn = pd.read_excel("C:\Users\Repairmanmanmanman\Desktop\Lexar\The Great Migration\Bane of Empires\Final Formatting\How To\The Lab (All Editing Done Here).xlsx")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-22-ec1cd8335000>, line 1)

In [6]:
import pymysql
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:Dickbutt42@localhost/publications')
import pandas as pd
data = pd.read_sql_query('SELECT * FROM employee', engine)

data.head()

      emp_id    fname minit      lname  job_id  job_lvl pub_id  hire_date
0  A-C71970F     Aria             Cruz      10       87   1389 1991-10-26
1  A-R89858F  Annette           Roulet       6      152   9999 1990-02-21
2  AMD15433F      Ann     M      Devon       3      200   9952 1991-07-16
3  ARD36773F  Anabela     R  Domingues       8      100   0877 1993-01-27
4  CFH28514M   Carlos     F   Hernadez       5      211   9999 1989-04-21