In [3]:
import pandas as pd
import numpy as np
import random as rng

In [28]:
def d(x):
    x = rng.randint(1,x)
    return x

In [29]:
input = []
for i in range(100):
    input.append(d(6))
dieroll = pd.Series(input)

0     3
1     3
2     4
3     1
4     5
5     4
6     6
7     1
8     2
9     3
10    1
11    2
12    2
13    4
14    5
15    2
16    5
17    2
18    5
19    3
20    3
21    4
22    2
23    1
24    3
25    5
26    3
27    5
28    6
29    3
     ..
70    6
71    4
72    4
73    4
74    5
75    2
76    6
77    1
78    5
79    2
80    5
81    4
82    5
83    5
84    3
85    6
86    4
87    6
88    1
89    1
90    1
91    3
92    6
93    3
94    3
95    1
96    6
97    6
98    6
99    6
Length: 100, dtype: int64

In [23]:
pd.Series(d(6)(100))

TypeError: 'int' object is not callable