In [177]:
import pandas as pd
import re
import numpy as np
Sharks = pd.read_csv(r"C:\Users\Repairmanmanmanman\Downloads\GSAF5.csv")
Sharks.head(200)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2015.06.07,07-Jun-15,2015,Unprovoked,USA,Florida,"Lori Wilson Park, Cocoa Beach, Brevard County",Playing,Lucas Vertullo,M,...,"Bull shark, 5'","Florida Today, 6/7/2015",2015.06.07-Vertullo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.06.07,2015.06.07,5797,NaN,NaN
196,2015.06.05,05-Jun-15,2015,Unprovoked,USA,Florida,Fort Lauderdale,Attempting to rescue a shark,female,F,...,small nurse shark,"7 News, 6/5/2015",2015.06.05-FortLauderdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.06.05,2015.06.05,5796,NaN,NaN
197,2015.06.01,01-Jun-15,2015,Unprovoked,REUNION,Le Port,Folette,Surfing,Eddy Chaussalet,M,...,"Bull shark, 2.5 m","Clincanoo, 6/1/2015",2015.06.01-Chaussalet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.06.01,2015.06.01,5795,NaN,NaN
198,2015.05.29.b,29-May-15,2015,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Standing,Ashlyn Gilpin,F,...,NaN,"Orlando Sentinel, 5/29/2015",2015.05.29.b-Gilpin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.05.29.b,2015.05.29.b,5794,NaN,NaN
199,2015.05.29.a,29-May-15,2015,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Wading,Dakota Hatfield,F,...,NaN,"ClickOrlando, 5/29/2015",2015.05.29.a-Hatfield.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.05.29.a,2015.05.29.a,5793,NaN,NaN

In [101]:
#Checking to see what columns there are so I can see if there are redundancies and to get a feel for the data. 
Sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [105]:
Sharks.dtypes
# I am checking to see the data types of each so I can better figure out how to manipulate them.

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [102]:
#I am checking to see how many null items are in these columns because they seem to have nothing in them.
Sharks['Unnamed: 22'].isnull().sum()
Sharks['Unnamed: 23'].isnull().sum()

5990

In [103]:
Sharks[Sharks['Unnamed: 22'].notnull()].index.tolist()
print(Sharks[Sharks['Unnamed: 22'].notnull()].index.tolist())
Sharks.iloc[1247]
print(Sharks[Sharks['Unnamed: 23'].notnull()].index.tolist())
Sharks.iloc[4182]
Sharks.iloc[5585]
#This is checking to see what the one non-null value is in this entire column. It appears its just nonsense. This column can be dropped.
#After checking the indexes of those values, it would seem that there is also nonsense in this column. I will drop them.

[1247]
[4182, 5585]

Case Number                                                      1879.03.10
Date                                                            10-Mar-1879
Year                                                                   1879
Type                                                                Invalid
Country                                                           AUSTRALIA
Area                                                        New South Wales
Location                                                       Near Sydney
Activity                      The steamship Bonnie Dundee lost in collision
Name                                         Cabin boy of the Bonnie Dundee
Sex                                                                       M
Age                                                                     NaN
Injury                                      Partial  remains found in shark
Fatal (Y/N)                                                               Y
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                      Star, 3/22/1879
pdf                                            1879.03.10-Bonnie-Dundee.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    1879.03.10
Case Number.2                                                    1879.03.10
original order                                                          408
Unnamed: 22                                                             NaN
Unnamed: 23                                                 change filename
Name: 5585, dtype: object

In [181]:
Sharks['Case Number'] == Sharks['Case Number.1'].count()
Sharks['Case Number'] == Sharks['Case Number.2'].count()
#assert(Sharks['Case Number'] == Sharks['Case Number.2']).all()

Sharks['Case Number.1'].equals(Sharks['Case Number.2'])
#After running both of these lines I found that these are duplicate columns. I am going to drop them.

False

In [186]:
print(Sharks['Case Number'].isin(Sharks['Case Number.1']).value_counts())
print(Sharks['Case Number.1'].isin(Sharks['Case Number.2']).value_counts())
print(Sharks['Case Number'].isin(Sharks['Case Number.2']).value_counts())
print(Sharks['Case Number.2'].isin(Sharks['Case Number']).value_counts())

True     5979
False      13
Name: Case Number, dtype: int64
True     5982
False      10
Name: Case Number.1, dtype: int64
True     5990
False       2
Name: Case Number, dtype: int64
True     5990
False       2
Name: Case Number.2, dtype: int64

In [149]:
Sharks.sort_values('original order',ascending=True).head(15)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5986,ND.0006,Before 1906,0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7,NaN,NaN
5985,ND.0007,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8,NaN,NaN
5984,ND.0008,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9,NaN,NaN
5983,ND.0009,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10,NaN,NaN
5982,ND.0010,Circa 1862,0,Unprovoked,USA,Hawaii,Puna,NaN,A chiefess,F,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11,NaN,NaN
5981,ND.0011,Before 1911,0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,...,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0011,ND.0011,12,NaN,NaN
5980,ND.0012,Before 19-Jul-1913,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13,NaN,NaN
5979,ND.0013,No date (3 days after preceding incident) & pr...,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14,NaN,NaN
5978,ND.0014,Before 17-Jul-1916,0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15,NaN,NaN
5977,ND.0015,Before 1917,0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,...,NaN,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0015,ND.0015,16,NaN,NaN

In [111]:
#Checking to see the percentage of null values in each column.

Sharks.isna().sum().sort_values(ascending = False)[:10] / len(Sharks) * 100

Unnamed: 22    99.983311
Unnamed: 23    99.966622
Time           53.621495
Species        48.965287
Age            44.742991
Sex             9.462617
Activity        8.795060
Location        8.277704
Area            6.708945
Name            3.337784
dtype: float64

In [158]:
#Time to clean up Year column. Accordin to my counts, this column has no nulls but has 124 incidents occuring in Year 0.
print(Sharks['Year'].unique())
print(Sharks.Year.value_counts())
Sharks[Sharks['Year'] < 500][['Year','Date']]

[2016 2015 2014 2013 2012 2011 2010 2009 2008 2007 2006 2005 2004 2003
 2002 2001 2000 1999 1998 1997 1996 1995 1984 1994 1993 1992 1991 1990
 1989 1969 1988 1987 1986 1985 1983 1982 1981 1980 1979 1978 1977 1976
 1975 1974 1973 1972 1971 1970 1968 1967 1966 1965 1964 1963 1962 1961
 1960 1959 1958 1957 1956 1955 1954 1953 1952 1951 1950 1949 1948 1848
 1947 1946 1945 1944 1943 1942 1941 1940 1939 1938 1937 1936 1935 1934
 1933 1932 1931 1930 1929 1928 1927 1926 1925 1924 1923 1922 1921 1920
 1919 1918 1917 1916 1915 1914 1913 1912 1911 1910 1909 1908 1907 1906
 1905 1904 1903 1902 1901 1900 1899 1898 1897 1896 1895 1894 1893 1892
 1891 1890 1889 1888 1887 1886 1885 1884 1883 1882 1881 1880 1879 1878
 1877 1876 1875 1874 1873 1872 1871 1870 1869 1868 1867 1866 1865 1864
 1863 1862 1861 1860 1859 1858 1856 1855 1854 1853 1852 1851 1850 1849
 1847 1846 1845 1844 1842 1841 1840 1839 1837 1836 1835 1834 1832 1831
 1830 1829 1828 1827 1826 1825 1822 1819 1818 1817 1816 1812 1811 1807
 1805 1804 1803 1800 1791 1788 1787 1785 1779 1776 1771 1767 1764 1758
 1749 1755 1748 1742 1738 1733 1721 1703 1700 1642 1638 1637 1617 1595
 1580 1555 1554 1543  500   77    5    0]
2015    139
2011    128
2014    125
0       124
2013    122
       ...
1742      1
1758      1
1818      1
1822      1
1595      1
Name: Year, Length: 232, dtype: int64

      Year           Date
5866    77       77  A.D.
5867     5     Ca. 5 A.D.
5868     0   Ca. 214 B.C.
5869     0  Ca. 336.B.C..
5870     0       493 B.C.
...    ...            ...
5987     0    Before 1903
5988     0    Before 1903
5989     0      1900-1905
5990     0      1883-1889
5991     0      1845-1853

[126 rows x 2 columns]

In [ ]:
pd.DataFrame({'email':sf.index, 'list':sf.values})

In [129]:
Sharks['Type'].unique()
Sharks.Type.value_counts()
Sharks['Type'].isna().sum()
#Checking the unique values of Type, and checking if there are any nulls. It seems this column is good.

0

In [68]:
df = pd.DataFrame([
    [['']],
    [['May 23rd, 2011']],
    [['January 1st, 2010']],
    [['Apr. 15, 2008']],
    [['07-11-2013']],
    [['9/01/1995']],
    [['04/15/2000']],
    [['11/22/68']],
    [['12/1997']],
    [['08/2002']],
    [['2014']],
    [['2016']],
], columns=['date'])

df['clean_date'] = df.date.apply(
    lambda x: pd.to_datetime(x).strftime('%m/%d/%Y')[0])

print(df)

                   date  clean_date
0                    []         NaT
1      [May 23rd, 2011]  05/23/2011
2   [January 1st, 2010]  01/01/2010
3       [Apr. 15, 2008]  04/15/2008
4          [07-11-2013]  07/11/2013
5           [9/01/1995]  09/01/1995
6          [04/15/2000]  04/15/2000
7            [11/22/68]  11/22/2068
8             [12/1997]  12/01/1997
9             [08/2002]  08/01/2002
10               [2014]  01/01/2014
11               [2016]  01/01/2016

In [94]:
#FINAL CHANGES TO CSV DONE HERE
#Type is clean.
#Null and redundant columns dropped.
Sharks.drop(columns=['Case Number.1', 'Case Number.2', 'Unnamed: 22', 'Unnamed: 23', 'href'], inplace=True, axis=1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2